/* Modify the background color of navbar */
.navbar-custom {
  background-color: #BB8080;
}
body {
  font-family: 'Yeseva One', cursive;
}
/*For Footer*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.footer {
  background: #BB8080;
  margin:0;
  padding: 75px;
  font-size: larger;
  color:white;
}
.footer-text {
  font-size: 20px;
  color:white;
}
  /*For Logo in carousel*/
.carousel-item img{
  width: auto;
  height: 700px;
  margin: auto; 
  display: block;
  }
.circle-round-picture {
  border: 30px solid #622E2E;
  background-color: #622E2E;
  padding-top: 10px;
}
/*Update Page*/
.update-row img{
  width: 50%
}
/*For Navbar*/
.menu {
    background: #BB8080;
  margin:0;
  padding:10px;
}
/*For Homepage*/
.homepage-text {
    font-size: 40px;
    text-align: center;
}
.social-text {
  text-align: center;
}
.home-links {
  text-align: center;
}
a {
  text-decoration: none;
  color:black;
}
.pink {
  background-color: #E5A2A2;
}
.dark-pink {
  background-color: #BB8080;
  color:white;
}

/*For about page heading*/
.become-lola {
  background-color: #BB8080;
  text-align:center;
  color:white;
}
.about-socials {
  background-color: #BB8080;
  text-align: center;
  color: white;
}
.about-contact {
  background-color: #846161;
  text-align: center;
  color: white;
}

/*About page styles*/
.social-media {
  text-align: center;
  padding-top: 20px;
}

.image-owner {
  border: 10px solid #622E2E;
}

/*For Images*/
.dress{
padding: 10px;
border: 10px solid #9D4D4D;
}
.top{
  padding:10px;
  border: 10px solid #9D4D4D;
}
.bottom{
  padding: 10px;
  border: 10px solid #9D4D4D;
}

/*For Links on Homepage (fixing color)*/
a:hover.products{
color: #ffbfb8;
}

.Color {
  background-color:#622E2E;
  color: white;
}

@media only screen and (max-width: 770px) {
  .carousel-item img {
    height: 350px;
  }
}
@media only screen and (max-width: 450px) {
  .carousel-item img {
    height: 220px;
  }

  

