/* Modify the background color of navbar */
.navbar-custom {
    background-color: #BB8080;
}
body {
  font-family: 'Yeseva One', cursive;
}
/*For Footer*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .footer {
    background: #BB8080;
    margin:0;
    padding: 75px;
    font-size: larger;
    color:white;
  }
  .footer-text {
      font-size: 20px;
      color:white;
  }
  /*For Logo in carousel*/
  .carousel-item img{
    width: auto;
    height: 600px;
    max-height: 600px;
    margin: auto; 
    display: block;
    }
  .circle-round-picture {
    background-color: #622E2E;
  }
/*For Navbar*/
.menu {
    background: #BB8080;
  margin:0;
  padding:10px;
}
/*For Homepage*/
.homepage-text {
    font-size: 40px;
    text-align: center;
}

/*For about page heading*/
.become-lola {
  background-color: #622E2E;
  text-align:center;
  color:white;
}
